* {
    font-family: 'Manrope', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    color: #fff;
    z-index: 2;
}
html, body {
    scroll-margin: 0;
    scroll-behavior: smooth;
    border-radius: 0.25rem;
    /* border: 1px solid #47be0720; */
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

ul {
    list-style-type: none;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #121212;
    border-radius: 0.25rem;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 3;
}

#root::-webkit-scrollbar {
    display: none;
}

#modalroot {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    border-radius: 0.25rem;
    background-color: #121212;
    pointer-events: none;
    /* z-index: 5; */
}